.Description {
  display: inline-block;
  width: 70%;
  height: auto;
  vertical-align: top;
  padding-left: 15px;
}

.Description p {
  font-size: 2em;
  font-weight: 220;
}

.Description span {
  font-weight: 500;
}
