.NoMatch p {
  text-align: center;
  margin-bottom: 0;
  padding: 0 20px;
}

.NoMatch p:not(.HomeLink) {
  font-size: 3em;
  margin-top: 100px;
}

.NoMatch a {
  color: #000000;
  text-decoration: none;
}

.NoMatch a:hover {
  text-decoration: underline;
}

.HomeLink {
  font-size: 2em;
  margin-top: 0;
}
