.Banner {
  display: block;
  height: 7em;
  width: 100%;
  background-image: url('./assets/space-banner.png');
  background-size: cover;
  background-position: center;
}

.Banner img {
  height: 100%;
  width: 100%;
}
